#placeholder {
    pointer-events: none;
}

.previewImg {
    display: none;
}

.wrapper {
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

/* GINRO */
#ginro {
    background: linear-gradient(30deg,#ff4cb4, #448fff);
    background-size: 200% 200%;
    background-position: 0% 100%;
    animation: gradient 10s infinite ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 310px;
    display: none;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#ginro-container {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    left: -75px;
    top: 5px;
    align-items: center;
    justify-content: center;
    transform: scale(0.79);
}

.ginrohead {
    position: absolute;
    top: -3px;
    right: 2px;
    width: 33px;
    height: 45px;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 170%;
    border-bottom-right-radius: 150%;
    background: radial-gradient(#ddb58f 10%, #af8b69 80%);
    box-shadow: inset 0 0 20px #1313138c, 0 3px 7px #1a1a1aaf;
}

.ginrohair {
    position: absolute;
    width: 36px;
    height: 15px;
    top: -9px;
    left: -4px;
    background: radial-gradient(#57483b 10%, #33281d 80%);
    background-size: 100% 100%;
    background-position: -5px 0px;
    border-top-left-radius: 100%;
    border-top-right-radius: 900%;
    border-bottom-left-radius: 80px;
    transform: rotate(5deg);
}

.ginroear {
    position: absolute;
    top: 18px;
    right: -5px;
    width: 6px;
    height: 9px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background: radial-gradient(#9c826a 10%, #927559 80%);
    box-shadow: inset 0 0 3px #1313138c, 0 3px 7px #1a1a1a42;
    z-index: -1;
}

.ginroear:nth-child(2) {
    transform: scaleX(-1);
    left: -5px;
}

.ginroneck {
    position: absolute;
    left: 0px;
    top: 26px;
    width: 34px;
    height: 45px;
    border-radius: 100px;
    background: radial-gradient(#00000000 40%, #6d5a49 42%, #ddb58f 100%);
    background-position: -17px 0;
    z-index: -1;
}

.ginroeye {
    position: absolute;
    top: 16px;
    left: 21px;
    width: 10px;
    height: 12px;
    border-top-left-radius: 50%;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 100%;
    background: radial-gradient(#272727 20%, rgb(108, 161, 192) 40%, #c9c9c9 49%);
    background-size: 105%;
    background-position: -20px -2px;
    box-shadow: inset 0 0 2px 1px #a5a5a5, 0 0 5px #412200c2;
}

.ginroeye:nth-child(5) {
    left: 2px;
    transform: scaleX(-1);
    background: radial-gradient(#272727 20%, rgb(108, 161, 192) 40%, #c9c9c9 49%);
    background-size: 105%;
    background-position: 19px -2px;
}

.ginrobody {
    position: absolute;
    width: 48px;
    height: 90px;
    right: -7px;
    top: 59px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background: radial-gradient(#b0c3ce 30%, #8eeeff);
    box-shadow: inset -2px 10px 10px #00000041, -3px 5px 20px #11111175;
    transform: scale(1.08);
}

.ginroarm-top {
    position: absolute;
    width: 18px;
    height: 60px;
    left: -17px;
    background: radial-gradient(#c4dbe9 30%, #7fc8d4);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 22%;
    border-top-right-radius: 10px;
    transform: rotate(15deg);
    box-shadow: inset -2px 10px 10px #0000005d, -3px 5px 20px #11111175;
}

.ginroarm-top:nth-child(2) {
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
    transform: rotate(-15deg);
    left: 48px;
}

.ginroarm-bottom {
    position: absolute;
    width: 14px;
    height: 50px;
    top: 55px;
    left: -25px;
    background: radial-gradient(#c99b7d 10%, #a8795a 80%);
    box-shadow: inset 0 10px 10px #1313136e, 0 3px 7px #1a1a1aaf;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 150%;
    transform: rotate(5deg);
    z-index: -1;
}

.ginroarm-bottom:nth-child(3) {
    border-top-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 150%;
    border-bottom-right-radius: 0;
    transform: rotate(-5deg);
    left: 59px;
    top: 53px;
}

.ginrohand {
    position: absolute;
    top: 109px;
    width: 25px;
    height: 10px;
    left: -36px;
    background: radial-gradient(#c99b7d 10%, #a8795a 80%);
    box-shadow: inset -2px 5px 10px #13131338, 0 0px 7px #1a1a1a79;
    bottom: -14px;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 80%;
    border-top-right-radius: 10%;
    transform: rotate(-85deg);
}

.ginrohand:nth-child(5) {
    top: 100px;
    width: 15px;
    height: 12px;
    left: 66px;
    transform: rotate(65deg) scaleX(-1);
}

.ginroleg-top {
    bottom: -75px;
    position: absolute;
    width: 29px;
    height: 85px;
    left: -5px;
    background: radial-gradient(#242833, #000000);
    border-top-left-radius: 40%;
    border-bottom-left-radius: 120%;
    border-bottom-right-radius: 100%;
    z-index: -8;
    transform: rotate(3deg);
    box-shadow: -3px 5px 20px #11111175;
}

.ginroleg-top:nth-child(7) {
    transform: rotate(-3deg) scaleX(-1);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 120%;
    left: 25px;
}

.ginroleg-bottom {
    bottom: -126px;
    position: absolute;
    width: 20px;
    height: 70px;
    left: -0px;
    background: radial-gradient(#191c25, #050505);
    box-shadow: inset -2px 20px 10px #050505cb, 0 0px 7px #1a1a1a79;
    border-top-left-radius: 4px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 130%;
    z-index: -9;
    box-shadow: -3px 5px 20px #11111175;
    transform: rotate(-4deg);
}

.ginroleg-bottom:nth-child(9) {
    left: 31px;
    border-top-left-radius: 50%;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 130%;
    border-bottom-right-radius: 0%;
    transform: rotate(4deg);
}

.ginroboottop {
    position: absolute;
    left: 0px;
    width: 15px;
    height: 6px;
    bottom: -130px;
    background: linear-gradient(-3deg, #acacac 0%, #b0c3ce 50%);
    box-shadow: inset -1px -2px 3px #000e163b, -5px 10px 20px #21212131;
    border-radius: 5px;
    z-index: 1;
}

.ginroboottop:nth-child(2) {
    left: 37px;
}

.ginrobootband {
    position: absolute;
    width: 12px;
    left: 1px;
    height: 10px;
    bottom: -139px;
    background: linear-gradient(20deg, #0d9eb8, #8228e9);
    box-shadow: inset -5px 0 10px #52b5c259;
}

.ginrobootband:nth-child(2) {
    left: 38px;
}

.ginrobootbottom {
    position: absolute;
    left: -9px;
    width: 23px;
    height: 12px;
    bottom: -148px;
    background: linear-gradient(-3deg, #acacac 0%, #b0c3ce 50%);
    box-shadow: inset -1px -2px 3px #0affffcb, -5px 10px 20px #21212131;
    border-radius: 40%;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 60%;
    border-top-left-radius: 190%;
    border-top-right-radius: 100%;
    animation: ginroboots 2s infinite;
}

@keyframes ginroboots {
    0%, 100% {
        box-shadow: inset -1px -2px 3px #0affffcb, 0 2px 5px #0affff93;
    }

    50% {
        box-shadow: inset -1px -2px 3px #0affffcb, 0 2px 5px #0affff00;
    }
}

.ginrobootbottom:nth-child(3) {
    left: 37px;
    transform: scaleX(-1);
}

.ginrobodyband {
    width: 80px;
    height: 30px;
    right: -24px;
    top: 80px;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 -1px 1px 0px #555555;
    transform: rotate(62deg);
}

.ginrobodyband2 {
    width: 79px;
    height: 30px;
    right: -26px;
    top: 73px;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 -1px 1px 0px #313131;
    transform: rotate(55deg);
}


.ginrobodyband3 {
    width: 79px;
    height: 30px;
    right: -20px;
    top: 73px;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 -1px 1px 0px #313131;
    transform: rotate(-55deg);
}

.ginrobodyband4 {
    width: 80px;
    height: 30px;
    right: -23px;
    top: 80px;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 -1px 1px 0px #555555;
    transform: rotate(-62deg);
}


.ginroshoulder, .ginroshoulder2 {
    position: absolute;
    top: 56px;
    right: -11px;
    width: 7px;
    height: 22px;
    background: radial-gradient(#535353, #1b1b1b);
    box-shadow: inset 0 2px 5px black, -3px 5px 20px #11111175;
    border-top-right-radius: 90%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 400%;
    transform: rotate(5deg);
}

.ginroshoulder2 {
    transform: rotate(-5deg) scaleX(-1);
    right: 37px;
}

.ginrobutton {
    position: absolute;
    top: 54px;
    right: -14px;
    width: 10px;
    height: 7px;
    background: radial-gradient(#c4c4c4, #2e2e2e);
    box-shadow: inset 0 1px 3px black;
    border-radius: 100%;
    transform: rotate(20deg);
    z-index: 9;
}

.ginrobutton:nth-child(3) {
    right: 36px;
    transform: rotate(-20deg);
}

.ginrobelt {
    bottom: 57px;
    right: -12px;
    width: 60px;
    height: 14px;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 20%;
    background: linear-gradient(to right, #1b1b1b, #474747 50%, #a3a3a3, #474747, #1b1b1b);
    box-shadow: inset 0 0 10px black;
    transform: rotate(7deg);
    position: absolute;
    z-index: 2;
}

.ginrobelt:nth-child(12) {
    height: 9px;
    bottom: 57px;
    transform: scaleX(-1) rotate(7deg);
    background: linear-gradient(to left, #1b1b1b, #474747, #7a7a7a, #474747, #1b1b1b);
    right: -12px;
    z-index: 1;
}

.ginrobuckle {
    position: absolute;
    bottom: 59px;
    right: 3px;
    width: 8px;
    height: 8px;
    background: radial-gradient(#a7eeea, #2e2e2e);
    box-shadow: inset 0 1px 3px black, 0 0 20px #8af1ff;
    border-radius: 2px;
    z-index: 9;
    animation: ginrobuckle 2s infinite;
}

@keyframes ginrobuckle {
    0%, 100% {box-shadow: inset 0 1px 3px black, 0 0 20px #8af1ff;}
    50% {box-shadow: inset 0 1px 3px black, 0 0 20px 2px #8af1ff;}
}

.ginrogun {
    position: absolute;
    top: 209px;
    right: 0;
    transform: scale(0.3) rotate(37deg) scaleY(-1);
    z-index: -1;
}

.ginrogun .gunWrapper {
    animation: none;
}

.lasergun {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 310px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gunWrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: laserGun 5s infinite ease-in-out;
}

@keyframes laserGun {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
}

.gunBody {
    position: absolute;
    background: linear-gradient(to bottom, #212121 0%, #313131 30%, #161616 70%);
    box-shadow: -5px 10px 30px #0000007a;
    width: 150px;
    height: 60px;
    left: 10px;
    border-radius: 100%;
    border-bottom-left-radius: 60%;
    border-top-left-radius: 60%;
    transform: rotate(-20deg);
}

.detail {
    position: absolute;
    left: 40px;
    top: 26px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #2cffea;
    box-shadow: inset 0 0 2px #212121, 0 0 5px #22dddd;
    animation: laserLight 1s infinite;
}

.detail:nth-child(2) {
    top: 46px;
    left: 38px;
    animation-delay: 200ms;
}

.detail:nth-child(3) {
    top: 7px;
    left: 36px;
    animation-delay: 400ms;
}

@keyframes laserLight {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.7;}
}

.trigger {
    position: absolute;
    bottom: 37px;
    left: 45px;
    border-bottom-left-radius: 100%;
    background: linear-gradient(to left, #212121 0%, #313131 30%, #1a1a1a 70%);
    transform: rotate(-20deg);
    width: 9px;
    height: 24px;
    z-index: -1;
}

.light {
    position: absolute;
    left: -15px;
    bottom: 63px;
    width: 30px;
    height: 20px;
    transform: rotate(-20deg);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    box-shadow: inset 1px -5px 10px #ffffff71, 0 0 30px #22dddd;
    background: linear-gradient(to bottom, #cacaca21 0%, #22dddd 30%, #8f8f8f21 100%);
    animation: lightContainer 2s infinite;
    z-index: -1;
}

@keyframes lightContainer {
    0%,100% {
        opacity: 1;
        box-shadow: inset 1px -5px 10px #ffffff71, 0 0 30px #1cffff;
    }

    50% {
        opacity: 0.9;
        box-shadow: inset 1px -5px 10px #ffffff71, 0 0 30px #22dddd9f;
    }
}

.stock {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 20px;
    height: 60px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 5px;
    background: linear-gradient(to left, #212121 0%, #313131 30%, #222222 70%);
    box-shadow: -5px 10px 30px #0000007a, inset 4px 20px 10px rgba(17, 17, 17, 0.534);
    z-index: -1;
}

.laserBlock {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 10px;
    height: 20px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 70%;
    background: linear-gradient(to left, #008a7ca2 0%, #313131 30%, #222222 70%);
    transform: rotate(-22deg);
    z-index: -1;
}

.laser {
    position: absolute;
    top: 53px;
    left: 22px;
    width: 150px;
    height: 2px;
    background: linear-gradient(to right, #2cffeaa2, #d6fffb00);
    transform: rotate(-20deg);
}

.barrel {
    position: absolute;
    top: 64px;
    right: 14px;
    width: 35px;
    height: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(to bottom, #212121 0%, #313131 30%, #202020 70%);
    box-shadow: -5px 10px 30px #0000007a, inset -2px 0 #5ab4b4af;
    transform: rotate(-20deg);
    z-index: -1;
}

.laserPoint {
    position: absolute;
    right: 4px;
    top: 58px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: #2cffea;
    box-shadow: inset 0 0 2px #212121, 0 0 5px #22dddd;
    animation: laserLight 1s infinite;
}

#Z-013 {
    position: absolute;
    top: -10px;
    width: 290px;
    height: 310px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#zoie-container {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    left: 55px;
    top: 0px;
    align-items: center;
    justify-content: center;
    transform: scale(0.68);
    opacity: 1;
}

@keyframes stance {
    0%, 25%, 100% {transform: translateX(0) scale(0.93);}
    5%, 15% {transform: translateX(1px) scale(0.93);}
    10%, 20% {transform: translateX(-1px) scale(0.93);}
}

.zhead {
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 90%;
    background: radial-gradient(#292929, #111111);
    box-shadow: -3px 5px 20px #11111175;
}

.zeye {
    position: absolute;
    width: 13px;
    height: 8px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 40px;
    right: 4px;
    top: 20px;
    transform: rotate(-6deg);
    z-index: 5;
    background: #b0fafffa; 
    box-shadow: inset 0 0 5px #88f5ffbb, 0 0px 10px #42fff6fa;
    animation: zoie 2s infinite;
}

@keyframes zoie {
    0%, 100% {box-shadow: inset 0 0 5px #88f5ffbb, 0 0px 10px #42fff6fa;}
    50% {box-shadow: inset 0 0 5px #88f5ffbb, 0 0px 10px #42fff681;}
}

.zeye:nth-child(1) {
    left: 6px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: rotate(6deg);
}

.zbody {
    position: absolute;
    width: 70px;
    height: 80px;
    right: -10px;
    bottom: -16px;
    border-radius: 50%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background: radial-gradient(#00000000 33%, #111111 37%, #1b1b1b 100%);
    background-position: -34px 0;
}

.zneck {
    position: absolute;
    left: 15px;
    bottom: 63px;
    width: 40px;
    height: 45px;
    border-radius: 100px;
    background: radial-gradient(#00000000 40%, #111111 42%, #292929 100%);
    background-position: -20px 0;
    z-index: -1;
}

.zarm-top {
    position: absolute;
    width: 18px;
    height: 50px;
    left: -3px;
    background: radial-gradient(#1a1a1a, #111111);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 50%;
    transform: rotate(18deg);
    box-shadow: -3px 5px 20px #11111175;
}

.zarm-top:nth-child(2) {
    border-top-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    transform: rotate(-18deg);
    left: 55px;
}

.zarm-bottom {
    position: absolute;
    width: 16px;
    height: 50px;
    top: 40px;
    left: -14px;
    background: radial-gradient(#1a1a1a, #111111);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 150%;
    transform: rotate(10deg);
    box-shadow: -3px 5px 20px #11111175;
}

.zarm-bottom:nth-child(5) {
    transform: rotate(-10deg) scaleX(-1);
    left: 68px;
}

.zhand {
    position: absolute;
    top: 83px;
    width: 11px;
    height: 18px;
    left: -19px;
    background: radial-gradient(#1a1a1a, #111111);
    bottom: -14px;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 27%;
    border-top-right-radius: 100%;
    transform: rotate(10deg);
    box-shadow: -3px 5px 20px #11111175;
}

.zhand:nth-child(7) {
    left: 78px;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 27%;
    border-top-left-radius: 100%;
    transform: rotate(-10deg);
}

.zleg-top {
    bottom: -70px;
    position: absolute;
    width: 35px;
    height: 90px;
    left: 1px;
    background: radial-gradient(#1a1a1a, #161616, #161616);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 100%;
    transform: rotate(5deg);
    z-index: -9;
    box-shadow: -3px 5px 20px #11111175;
}

.zleg-top:nth-child(9) {
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 100%;
    transform: rotate(-5deg);
    left: 32px;
}

.zleg-bottom {
    bottom: -133px;
    position: absolute;
    width: 20px;
    height: 75px;
    left: -6px;
    background: radial-gradient(#1a1a1a, #161616);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 150%;
    z-index: -9;
    transform: rotate(5deg);
    box-shadow: -3px 5px 20px #11111175;
}

.zleg-bottom:nth-child(11) {
    left: 59px;
    transform: rotate(-15deg);
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 150%;
}

.zfoot {
    position: absolute;
    width: 16px;
    left: -10px;
    height: 40px;
    bottom: -155px;
    background: radial-gradient(#1a1a1a, #161616);
    border-top-left-radius: 90%;
    border-top-right-radius: 130%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 25px;
    transform: rotate(10deg);
    box-shadow: -3px 5px 20px #11111175;
}

.zfoot:nth-child(13) {
    bottom: -158px;
    left: 77px;
    border-top-right-radius: 90%;
    border-top-left-radius: 130%;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 80px;
    transform: rotate(-30deg);
}

/* MURODAN */

.antiGrav {
    background: linear-gradient(30deg,#ff8800, #00d9ff);
    background-size: 150% 150%;
    background-position: 0% 100%;
    animation: gradient 10s infinite ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 310px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bootsContainer {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: laserGun 5s infinite ease-in-out;
}

.bootY {
    bottom: 87px;
    right: 23px;
    position: absolute;
    width: 57px;
    height: 20px;
    border-radius: 6px;
    background: linear-gradient(-3deg, #bdbdbd 0%, #c4d6e0 50%);
    box-shadow: inset -5px -10px 10px #000e163b, -5px 10px 20px #21212131;
    transform: rotate(20deg);
    z-index: 9;
}

.bootY:nth-child(2) {
    width: 52px;
    height: 17px;
    top: 55px;
    right: 71px;
}

.bootX {
    position: absolute;
    bottom: 40px;
    right: 45px;
    width: 110px;
    height: 45px;
    background: linear-gradient(-3deg, #00fff2 10%, #b2c2ca 30%);
    box-shadow: inset -5px -10px 10px #000e163b, -5px 10px 20px #00fff231;
    animation: boots 2.5s infinite;
    border-top-left-radius: 90%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 15%;
    transform: rotate(20deg);
    z-index: 10;
}

@keyframes boots {
    0%, 100%{box-shadow: inset -5px -10px 10px #000e163b, -5px 10px 20px #00fff263;}
    50%{box-shadow: inset -5px -10px 10px #000e163b, -5px 10px 20px #00fff213;}
}

.bootX:nth-child(3) {
    width: 105px;
    height: 42px;
    bottom: 84px;
    right: 90px;
}

.band {
    position: absolute;
    width: 43px;
    height: 40px;
    bottom: 50px;
    right: 40px;
    background: linear-gradient(20deg, #0d9eb8, #8228e9);
    box-shadow: inset -5px 0 10px #52b5c259;
    transform: rotate(20deg);
    z-index: 1;
}

.band:nth-child(5) {
    width: 40px;
    height: 37px;
    top: 70px;
    right: 86px;
}

.room {
    background: linear-gradient(30deg,#ff4cb4, #448fff);
    background-size: 200% 200%;
    background-position: 0% 100%;
    animation: gradient 10s infinite ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 310px;
    border-bottom: none;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
}

.door {
    position: absolute;
    top: 30px;
    left: 65px;
    width: 160px;
    height: 280px;
    background: linear-gradient(-60deg, #646464, #bdbdbd, #646464);
    z-index: 2;
    box-shadow: inset 0 4px 5px 3px rgb(53, 53, 53);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    animation: door 2s infinite;
}

@keyframes door {
    0%, 20%, 70%, 80%, 95% {background: linear-gradient(90deg, #35393a, #869094, #35393a);}
    15%, 30%, 50%, 75%, 100% {background: linear-gradient(90deg, #35393a, #798485, #35393a);}
}

.fluorescent {
    position: absolute;
    top: -40px;
    left: -65px;
    width: 290px;
    height: 310px;
    animation: fluorescent 2s infinite;
    z-index: 4;
}

@keyframes fluorescent {
    0%, 20%, 70%, 80%, 95% {background: linear-gradient(to bottom, #2eff27a2 -70%, #57d4b900 30%);}
    15%, 30%, 50%, 75%, 100% {background: linear-gradient(to bottom, #49ffd100 -60%, #57d4b900 30%);}
}

.handle-contianer {
    position: absolute;
    top: 140px;
    left: 15px;
    width: 30px;
    height: 40px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #95afaf, #5a6868);
    border: 2px solid #353535a8;
    box-shadow: inset 0 4px 10px #353535d3, 0 0 50px #353535;
}

#handle {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 7px;
    height: 28px;
    background: linear-gradient(to right, #646464, #313131);
    z-index: 999;
}

#lock {
    position: absolute;
    top: 7px;
    left: 5px;
    width: 15px;
    height: 28px;
    background: #667d83;
    box-shadow: inset 0 0 10px #00000091;
}

@keyframes lock {
    0%, 15%, 65%, 100% {background: #667d83;}
    30%, 50% {background: linear-gradient(to right, #b93333 60%, #00000000);}
}

@keyframes handle {
    0%, 15%, 65%, 100% {left: 5px;}
    30%, 50% {left: 13px;}
}

.window {
    position: absolute;
    transform: translateX(180%);
    top: 40px;
    left: -80px;
    width: 70px;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: inset 0 2px 10px #161616a2, 0 0 2px #161616a2;
    animation: glass 2s infinite;
    z-index: 3;
}

@keyframes glass {
    0%, 20%, 70%, 80%, 95% {
        background: linear-gradient(90deg, #ffffff15, #d3d3d369, #ffffff15);
    }
    15%, 30%, 50%, 75%, 100% {
        background: linear-gradient(90deg, #ffffff15, #ffffff4f, #ffffff15);
    }
}

.corridor {
    position: absolute;
    transform: translateX(180%);
    top: 40px;
    left: -80px;
    width: 70px;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(30deg,#ff944c6c, #44ffef8e);
    background-size: 150% 150%;
    background-position: 0% 100%;
    animation: gradient 10s infinite ease-in-out;
    z-index: 2;
}

/*****************/
.placeholderGun {
    position: absolute;
    top: -20px;
    left: 10px;
    transform: scale(0.6);
}

.placeholderGun .lasergun, .placeholderZoie #Z-013 {
    background: none;
}

.placeholderZoie .zoie-container {
    animation: laserGun 5s infinite ease-in-out;
}

.placeholderBoots {
    position: absolute;
    top: 40px;
    left: 130px;
    transform: scale(0.6);
}

.placeholderZoie {
    position: absolute;
    top: 120px;
    left: 20px;
    transform: scale(0.55);
}