@media only screen and(max-width: 1200px) {
    #information, .story-container, #preview, #placeholder, .prevImg, .hide {
        display: none;
    }
    
    footer p, footer a {
        color: rgba($game-white, 0.8);
    }

    #mobileDevice {
        position: absolute;
        background: linear-gradient(-30deg, #6a54e9, #1be0c0);
        background-size: 150% 150%;
        background-position: 0% 100%;
        animation: gradient 10s infinite ease-in-out;
        display: block;
        max-width: 155px;
        max-height: 75px;
        min-height: 75px;
        left: 230px;
        bottom: 320px;
        padding: 0 10px 5px;
        border-radius: 60px;
        border-bottom-left-radius: 10px;
        box-shadow: -3px 5px 15px rgba($game-black, 0.2);
        z-index: 99;

            h3 {
                color: rgba($game-black, 0.8);
                @include calcRem(17);
                cursor: default;
                font-family: 'VT323', sans-serif;
                font-weight: 400;
                margin: 15px 0 10px 10px;
            }

            #ginro {
                width: 200px;
                left: -130px;
                top: 80px;
                background: none;
                display: flex;
            }

            .ginrohidden {
                transform: scale(0.88);
                width: 200px;
                margin-left: -33px;
                top: 80px;
                display: flex;
            }
    }
}

@media only screen and(max-width: 550px) {
    body {
        background: linear-gradient(30deg,#ff4cb4, #448fff);
        background-size: 200% 200%;
        background-position: 0% 100%;
        animation: gradient 10s infinite ease-in-out;
        max-height: 110vh;
    }
    
    footer p, footer a {
        color: rgba($game-black, 0.8);
    }

    .about-container {
        padding-top: 50px;
        padding-bottom: 40px;
        min-height: 360px;
        max-height: unset;
        min-width: 150px;
        transform: scale(0.75);
        @include calcRem(20);
        box-shadow: 0 0 15px rgba($game-black, 0.2);
    }

    #mobileDevice {
        position: absolute;
        background: linear-gradient(-30deg, #6a54e9, #1be0c0);
        background-size: 150% 150%;
        background-position: 0% 100%;
        animation: gradient 10s infinite ease-in-out;
        display: block;
        max-width: 155px;
        left: 130px;
        bottom: 320px;
        padding: 0 10px 5px;
        border-radius: 60px;
        border-bottom-left-radius: 10px;
        box-shadow: -3px 5px 15px rgba($game-black, 0.2);
        z-index: 99;

            h3 {
                color: rgba($game-black, 0.8);
                @include calcRem(17);
                cursor: default;
                font-family: 'VT323', sans-serif;
                font-weight: 400;
                margin: 15px 0 10px 10px;
            }

            #ginro {
                width: 200px;
                left: -130px;
                top: 80px;
                background: none;
                display: flex;
            }

            #alien {
                width: 200px;
                left: -190px;
                top: 80px;
                background: none;
                display: flex; 
            }
    }
}